{
    "Source" : "TEMPLATE_AZSL_PATH",

    "Definitions" : ["MULTIVIEW=1"],

    "RasterState": { "CullMode": "None" },

    "DepthStencilState" : { 
        "Depth" : { "Enable" : true, "CompareFunc" : "GreaterEqual" }
    },

    "ProgramSettings" : 
    {
        "EntryPoints":
        [
            {
                "name": "VertexShader",
                "type" : "Vertex"
            }
        ] 
    },

    "DrawList" : "multiviewDepthTransparentMin",
    "MultiviewLayers": 2
}
